/* Variables */
:root {
    --white-text: #f8f8f8;
    --gray-bg: #e5e5e5;
    --gray-text: #b7b7b7;
    --green: #dbfff4;
    --red: #ffe7ef;
}

/* Typography */
html {
    font-family: "Poppins", sans-serif;
}

.dog-header > h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
    color: var(--white-text);
}

.dog-header > p {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: var(--gray-text);
}

/* Layout */
body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--gray-bg);
}

.container {
    width: 550px;
    height: 973px;
}

header {
    height: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-left: 18px;
    padding-right: 19px;
}

.icon-profile {
    width: 34px;
}

.logo {
    width: 84px;
}

.icon-chat {
    width: 34px;
}

main {
    background: linear-gradient(#ffffff, #f6f7fb);
    padding-bottom: 24.13px;
    /* I had to set this width to make the scale.js module work */
    width: 550px;
}

main > * {
    margin: 0 auto;
}

.current-dog {
    width: 534px;
    height: 751.44px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 24.56px;
}

.dog-header {
    position: absolute;
    left: 12px;
    bottom: 16.44px;
}

.dog-header > h1 {
    margin: 7.23px 0;
}

.dog-header > p {
    margin: 0;
}

.swipe {
    width: 207.87px;
    display: flex;
    justify-content: space-between;
}

.swipe-button {
    width: 91.87px;
    height: 91.87px;
    background-color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 10px 20px #e9e9ea;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms;
}

.reject img {
    height: 36px;
}

.reject:hover {
    background-color: var(--red);
}

.accept img {
    height: 36px;
}

.accept:hover {
    background-color: var(--green);
}

.like {
    position: absolute;
    top: 55.69px;
    left: 19.4px;

    width: 233.91px;
    height: 116.26px;

    transform: rotate(-30deg);

    opacity: 0;
    transition: opacity 250ms;
}

.nope {
    position: absolute;
    top: 55.69px;
    left: 19.4px;

    width: 233.91px;
    height: 116.26px;

    transform: rotate(-30deg);

    opacity: 0;
    transition: opacity 250ms;
}
